


/* Body */
img {
  max-width: 100%;
  max-height: 100%;

}



/* Buttons */
.city-details{
  overflow: hidden;
}




/* Home */

 .main-container{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  background:#424242 url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  border: 2px solid black;

}

 .header {
  display: grid;
 
  grid-column: 1 / -1;
} 

.content{
  grid-column: 2 / 6;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 3px;
}


/* SideBar */

.sidebar{
  grid-column: 6; 
  
  background:#424242 url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  
  
} 




/* NavBar */

nav.main {
  height: 110px;
  display: flex;
  justify-content: space-evenly;
  background:white url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  
}



nav.main a {
  border-bottom: 5px solid white;
  text-decoration: none;
  padding: 40px;
  display: inline;
  background-color: #313131;
  color:white;
  /* box-shadow: 2px solid #313131; */
  transition: 0.5s;
  /* transform: 1s; */
  vertical-align: baseline;
  cursor: pointer;
  margin-right: .1vw;
  width: 40%;
  text-align: center;
  
}

nav.main a:first-child{
  border-bottom-left-radius: 3px;
}

nav.main a:last-child{
  border-right: none;
  border-bottom-right-radius: 3px;
}


nav.main a#home-item{
  
  border-bottom-color: #919191;
}

nav.main a#home-item:hover{
  background-color: #919191;
  border-bottom-color:  #919191;
  transform: scale(1.1);
}

nav.main a#home-item:active{
  background-color: #919191;
}

nav.main a#profile-item{
  
  border-bottom-color: darkgreen;
}

nav.main a#profile-item:hover{
  background-color: darkgreen;
  border-bottom-color:  darkgreen;
  color: white;
  transform: scale(1.1);
}

nav.main #middle-item{
  background-color: white;
  border-bottom: 5px solid black;
  width: 50%;
  text-align: center;
  cursor:auto;
  margin-right: .1vw;
}

nav.main a#pokedex-item{
  border-bottom-color: red;
}

nav.main a#pokedex-item:hover{
  background-color: red;
  border-bottom-color:  red;
  color:white;
  transform: scale(1.1);
}

nav.main a#logout-item{
  
  border-bottom-color: #33ccff;
}

nav.main a#logout-item:hover{
  background-color: #33ccff;
  border-bottom-color: #33ccff;
  color: white;
  transform: scale(1.1);
}





nav.main .navbar-list {
  font-size: 18px;
  /* margin-left: 32%; */
  /* padding-top: 2%; */
  justify-content: space-evenly;
  display:flex;
  background-color: black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 67%;
}


/* Profile */

.profile-container {
  /* background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png"); */
  
  
  
  
}




/* City Container */

.city-container{
  background:white url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  overflow: auto;
  
}

.welcome-line {
  text-align: center;
  color:black;
}


.city-list{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 overflow-inline: auto;
}




/* City Details */

.city-details{
  background:white url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  text-align: center;
}

.home-list{
 display: grid;
 grid-template-columns: repeat(3, 3fr);
 overflow-inline: auto;
}





/* CityCard */



.city-card {
  margin: 0.1vw;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  padding: .5vw;
  position: relative;
  text-align: center;
  background-color: #f9f9f9;
  color:black;
  transition: 0.3s;
}

.city-card:hover{
  transform: scale(0.97);
}

.home-card {
  margin: 0.1vw;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  padding: 0.5vw;
  position: relative;
  text-align: center;
  background-color: white;
}

.img-wrapper {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.image {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}




/* -------------------------------------------------------------------------------------------------------------------------------------------*/


/* SignUp */


.user-signup{
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
  height: 100%;
  width: 100%;
  position: fixed;
  display: inline-block;
  margin: auto;
}

#signup-form {

  width: 32%;
  text-align: center;
  border: 3px solid white;
  background: white url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  box-shadow: 4px 5px grey;
  height: 70%;
  position: absolute;
  right: 34%;
  bottom: 20%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

#p-login {
  text-align: center;
}


/* Login */


.user-login{
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
  height: 100%;
  width: 100%;
  position: fixed;
}


#login-form {
  width: 25%;
  min-width: 25%;
  max-width: 100%;
  text-align: center;
  border: 3px solid white;
  background: white url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  box-shadow: 4px 5px grey;
  height: 65%;
  min-height: 65%;
  max-height: 100%;
  position: fixed;
  right: 38%;
  bottom: 20%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
}

footer{
  position: fixed;
  width:100%;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
  background-color:#424242;
  color: whitesmoke;
}








