



.wrapper{
  width: 90%;
  margin: 0 auto;
  
}






/* SignUp */

#signup-form {

  width: 25%;
  text-align: center;

}


/* Login */


.user-login{
  background-image: url("https://vignette.wikia.nocookie.net/pokemon/images/1/17/Kanto_HGSS.png/revision/latest?cb=20110213010237");
  background-size: cover;
  
}


#login-form {
  width: 25%;
  text-align:center;
  border: 3px solid white;
  background: white;
  box-shadow: 4px 5px black;
  
}








